

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);


$font_sans_serif : 'Open Sans', sans-serif;

#wrap{

	body{
		font-family: $font_sans_serif;
	}
	.text-error{
		font-size: 1.5rem;
		color:$color_red;
		margin-bottom: 10px;
	}

	.text-warning{
		font-size: 1.2rem;
		color:$color_red;
		text-transform:uppercase;
	}

	.oe_price, .oe_currency_value{
		font-weight: 200;
		margin-top: 20px;
		margin-left: 10px;
		font-size: 2rem;
	}
}


p{
	font-size: 1.7rem;
	font-family: $font_sans_serif;
	line-height: 2.6rem;
	span{
		font-size: 1.7rem;
		font-family: $font_sans_serif;
		line-height: 2.6rem;
	}
}


.oe_structure{



h1{
	font-family: $font_sans_serif;
	font-weight: 500;
	font-size: 3rem;
	text-transform: uppercase;
}

h2{
	font-family: $font_sans_serif;
	font-weight: 500;
	font-size: 2rem;
	text-transform: uppercase;
}

h3{
	font-family: $font_sans_serif;
	font-weight: 600;
	font-size: 1.5rem;
	text-transform: uppercase;
}

h4{
	font-family: $font_sans_serif;
	font-weight: 600;
	font-size: 1.2rem;
	text-transform: uppercase;
}



p{
	font-size: 1.7rem;
	font-family: $font_sans_serif;
	line-height: 2.6rem;
	span{
		font-size: 1.7rem;
		font-family: $font_sans_serif;
		line-height: 2.6rem;
	}
}


}
