
.cartes{
	padding-top: 100px;
	padding-bottom: 100px;
	background: #fff;
	position: relative;
}

.cartes .row div:first-child{
	img{
		width: 100%;
		padding-bottom: 50px;
	}
}
.cartes .row div:nth-child(2){
	p:first-child{
		margin-top: 40px;
		a{
			text-decoration:underline;
		}
	}
	h2{
		text-transform:uppercase;
		font-size: 1.8rem;
		letter-spacing: .2rem;
		font-weight: 700;
		margin-bottom: 30px;
		margin-top: 30px;
	}
}


.carte_link{
	padding: 15px 20px 15px 20px;
	background: $color_gray;
	display:inline-block;
	color:#fff;
	margin-top: 20px;
	font-size: 1rem;
	letter-spacing: .2rem;
	text-decoration:none;
	text-transform: uppercase;
	@include transition(.3s);
	&:hover{
		background: $color_red;
		color:#fff;
		text-decoration:none;
	}

}

@include screen-tablet--landscape {
	.cartes{
		padding-top: 30px;
		img{
			display:none;
		}
	}
}