


/* visited link */

a:active {
    color: inherit;
}

a:focus {
    color: #fff;
    text-decoration: none;
}

a{
  text-decoration:none;
  color: $color_gray;
  @include transition(.3s);
  &:hover{
  	color: $color_red;
  }
}


main button{
    padding: 15px 20px 15px 20px;
    background: $color_gray;
    display:inline-block;
    color:#fff;
    margin-top: 20px;
    font-size: 1rem;
    letter-spacing: .2rem;
    text-decoration:none;
    border: 0px;
    border-radius:0px;
    text-transform: uppercase;
    @include transition(.3s);
    &:hover{
      background: $color_red;
      color:#fff;
      text-decoration:none;
    }
}

