


.oe_website_login_container{
	background: $color_gray_light;
	padding: 40px;
	a{
		color:$color_gray;
		@include transition(.3s);
		
		&:hover{
			color:$color_red;
		}
		width:100%;
		text-align:right;
	}

	
	.oe_login_form{
		label{
			text-tranform:uppercase;
			margin-bottom: 20px;
			font-size: 2rem;
			letter-spacing:.3rem;
			font-weight: 400;
			display: inherit;
		}
		input, textarea, select{
		  border-radius:0px;
		  padding: 15px 20px 15px 20px;
		  text-transform: uppercase;
		  font-size: 1.2rem;
		  letter-spacing: .2rem;
		  box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
		}
		input:focus{
		  color:  $color_gray;
		  border: 1px solid $color_gray;  
		}
		textarea:focus{
		  color:  $color_gray;
		  border: 1px solid $color_gray;  
		}
		select{
		  display: block;
		  -webkit-appearance: none;
		  -moz-appearance: none;
		   appearance: none;
		   overflow: hidden;
		   height: 52px;
		   padding: 0px 25px 0px 25px;
		}
		select:focus{
		  color:  $color_gray;
		  border: 1px solid $color_gray;  
		}


	}

	.btn-primary{
		padding: 15px 50px 15px 50px;
		background: none;
		display:inline-block;
		float:right;
		color:$color_gray;
		margin-top: 20px;
		font-size: 1.1rem;
		letter-spacing: .2rem;
		text-decoration:none;
		border: 0px;
		border-bottom: 1px solid $color_gray;
		border-radius:0px;
		text-transform: uppercase;
		@include transition(.3s);
		&:hover{
			text-decoration:none;
			background: $color_red;
			color:#fff;
			border-bottom: 1px solid $color_red;
		}
	}

}




@include screen-mobile--landscape {

.oe_login_form{

	width: 250px;
	margin-left: auto;
	margin-right: auto;

}


}