


/*  *//*  *//*  */
/* NAV STETINGS */
/*  *//*  *//*  */


//LOGO

$size_logo: 130px;

$logo_top_pos: -20px;

$size_logo_scroll: 70px;

$logo_top_pos_scroll: -10px;

$size_logo_mobile: 60px;


// COLORS ACCORDING TO BG

$items_light_bg_color : $color_gray ;
$items_dark_bg_color : #fff ;


// SCROLL NAV

$nav_scroll_bg_color : $color_gray ;
$nav_scroll_items_active: 1px solid #fff ;
$nav_scroll_items_hover: 1px solid #fff ;



/*  *//*  *//*  */
/* NAV PROPERTIES */
/*  *//*  *//*  */


// DEFAULT NAV

.logo_nav{
	img{
		content: url('../img/logo_light.svg');
	}
}

.navbar-fonteyne .navbar-nav{
  z-index: 1000000;
  >li >a{
  	  color: $color_gray;
  	  &:hover{
		background: none;
		border-bottom: 1px solid $color_gray;
	  }
  }
  >.active >a{
  	border-bottom: 1px solid $color_gray;
  }
  
  @include transition(.6s);
  @include transform(translateY(-20px));
  opacity:0;

}

.navbar-fonteyne .nav_appear{
	opacity:1;
	@include transform(translateY(0px));
}

.fa-shopping-cart{
	display:none;
}

.my_cart_quantity{

}
.label {
    padding:0px;
    color:inherit;
    font-weight: 900;
    border-radius:none;
}

sup {
    top: 0em;

}

.label-primary {
    background-color: rgba(66, 139, 202, 0);
}

// ACOORDIND TO BG




.background--dark .logo_nav{
	img{
		content: url('../img/logo.svg');
	}
}
.background--light .logo_nav{
	img{
		content: url('../img/logo_light.svg');
	}
}
.background--light .navbar-nav{
  >li >a{
  	  color: $items_light_bg_color;
  	  &:hover{
		background: none;
		border-bottom: 1px solid $items_light_bg_color	;
	  }
  }
  >.active >a{
  	border-bottom: 1px solid $items_light_bg_color;
  }
}


.background--dark .navbar-nav{
  >li >a{
  	  color: $items_dark_bg_color;
  	  &:hover{
		background: none;
		border-bottom: 1px solid $items_dark_bg_color;

	  }
  }
  >.active >a{
  	border-bottom: 1px solid $items_dark_bg_color;
  }
}


// NAV



.navbar-fonteyne{
	position:fixed;
	width: 100%;
    z-index: 1000;
    top:0px;
    padding-top: 30px;
    padding-bottom: 80px;
    @include transition(.3s);
    border-radius: 0px;
}

.navbar-fonteyne .container-fluid{
	width: 1500px;
	position:relative;
}

.navbar-fonteyne .navbar-nav{
	float: right;
	>li{
		margin-left: 15px;
		>a{
			text-transform: uppercase;
			letter-spacing: .2rem;
			font-size: 1.3rem;
			border-bottom: 1px solid transparent;
		}
	}
}

// NAV SCROLL POSTION

.navbar-fonteyne_scroll .logo_nav{
	img{
		content: url('../img/logo.svg');
	}
}

.navbar-fonteyne_scroll{
	padding-top: 20px;
    padding-bottom: 15px;
    background: $nav_scroll_bg_color;
    .logo_nav{
    	top: $logo_top_pos_scroll; 
    	img{
    		height: $size_logo_scroll;
    	}
    }
    .navbar-nav{	
    	>.active a{
		  	border-bottom: $nav_scroll_items_active;
		}	
		>li{
			>a{
				padding: 10px 10px 3px 10px;
				border-bottom: 1px solid transparent;
				color:#fff;
				&:hover{
					background: none;
					border-bottom: $nav_scroll_items_hover;
				}
			}
		}
	}
}




//LOGO

.navbar-fonteyne .logo img{
	max-height: 80px;
	margin-top: -20px;
	display:none;
}

.logo_nav{
	position:absolute;
	top: $logo_top_pos;
	left: 10px;
	img{
		height: $size_logo;
	}
	@include transition(.6s);
    @include transform(translateY(-20px));
    opacity:0;
}

.logo_nav_appear{
	opacity:1;
	@include transform(translateY(0px));
}


//DROP DOWN

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
	background: none;
	border-bottom: 0px solid #fff;
}


.navbar-fonteyne .dropdown-menu{
	border:none;
	padding:0px;
	border-radius: 0px;
	box-shadow: none;
	width: 100%;
}

.navbar-fonteyne .navbar-nav >.active{
	background: none;
	>a >span{
		font-weight: 800;
	}
}

.dropdown-menu > .active > a{
	color: #fff;
	background: $color_gray;
	&:hover{
		color: #fff;
		background: $color_red;
	}
}

.dropdown-menu .divider{
	display:none;
}


.navbar-fonteyne .navbar-nav .dropdown-menu >li{
	border-bottom: 0px solid #fff;
}

.dropdown-menu >li >a{
	padding: 18px 18px 18px 18px;
	text-transform: uppercase;
	font-size: 1.1rem;
	letter-spacing: .2rem;
	&:hover{
		color: #fff;
		background: $color_gray;
	}
}




//RESPONSIVE SMALL LAPTOP


@media screen and (max-width : 1650px) {


	.navbar-fonteyne .container-fluid{
		width: 1380px;
		position:relative;
	}


}


@include  screen-small {


	.navbar-fonteyne .container-fluid{
		width: 1280px;
		position:relative;
	}


}

@media screen and (max-width : 1226px) {


.navbar-fonteyne .nav_appear{
	transform: none;
	transition-delay: 0s;
	transition-duration: 0.3s;
	transition-property: all;
	transition-timing-function: ease;
	width: 100%;
}

.logo_nav{
	img{
		content: url('../img/logo.svg');
	}
}

#bs-example-navbar-collapse-1{
	padding-right: 0px;
	padding-left: 0px;
}


.navbar-fonteyne .collapse.in .navbar-nav{
	border-radius: 0px;
	z-index: 10000000;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
}

.navbar-fonteyne .container-fluid{
	width: 100%;
	position:relative;
}

.navbar-fonteyne{
	position:fixed;
	width: 100%;
    z-index: 10;
    top:0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: $color_gray;
}


.logo_nav{
	position:absolute;
	top: -5px;
	left: 30px;
	img{
		height: $size_logo_mobile;
	}
}

.navbar-fonteyne .navbar-nav{
	position: absolute;
	top:61px;
	background: #fff;
	width:100%;
	left:0px;
}

.navbar-fonteyne .navbar-nav >.active{
	>a{
		border-bottom: 0px solid #fff;
	}
}


.navbar-fonteyne .navbar-toggle{
	display:block;
	background: url("../img/burger.svg") no-repeat;
	right:0px;
	top: 5px;
	position:absolute;
}

.navbar-fonteyne .navbar-nav .active{
	background: $color_red;
	border-bottom: 0px solid $color_red;
	>a >span{
		color: #fff;
	}
	.dropdown-menu{
		li{
			background: #fff;
		}
	}
}


.navbar-fonteyne .navbar-nav{
	float: right;
	
	>li{
		margin-left: 0px;
		>a{
		color: $color_gray;
		text-transform: uppercase;
		letter-spacing: .2rem;
		font-size: 1.1rem;
		border-bottom: 1px solid transparent;
		padding: 20px 40px 20px 40px; 
			&:hover{
				color: #fff;
				background: $color_red;
				border-bottom: 1px solid none;
			}
		}
	}
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
	color: #fff;
	background: $color_red;
	border-bottom: 1px solid none;
}

.navbar-nav {
    margin: 0px;
    -webkit-box-shadow: -2px 6px 7px -3px rgba(0,0,0,0.26);
	-moz-box-shadow: -2px 6px 7px -3px rgba(0,0,0,0.26);
	box-shadow: -2px 6px 7px -3px rgba(0,0,0,0.26);
}

.navbar-fonteyne .dropdown-menu >li >a{
	padding: 20px 40px 20px 40px;
	text-transform: uppercase;
	font-size: 1.1rem;
	letter-spacing: .2rem;
	&:hover{
		color: #fff;
		background: $color_gray;
	}
}

.navbar-fonteyne .navbar-nav {
    opacity: 0;
    @include transition(.3s);
    z-index: -2;
    overflow: hidden;
    li{
    	float: none;
    }
}

.navbar-fonteyne .navbar-collapse.in .navbar-nav{
    overflow-y: auto;
}


.navbar-fonteyne .collapse.in .navbar-nav {
    display: block;
    opacity:1;
    overflow: visible;
    height: auto;
}

.navbar-fonteyne .navbar-collapse.in {
    overflow-y: auto;
}

.navbar-fonteyne .collapse.in {
    display: block;
}


.navbar-fonteyne .navbar-nav .open .dropdown-menu{
	position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    li a{
    	padding-left: 50px;
    	padding-top: 20px;
    	padding-bottom: 20px;
    }
}
.navbar-fonteyne .navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 0px solid transparent;
    -webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 0px 0 rgba(255, 255, 255, .1);
    
}

.navbar-fonteyne .navbar-nav{
	border-bottom: #979797 1px solid;
}

.navbar-fonteyne_scroll{
	padding-top: 10px;
    padding-bottom: 10px;
    background: $color_gray;
    .logo_nav{
    	position:absolute;
		top: -5px;
		left: 30px;
		img{
			height: $size_logo_mobile;
		}
    }
    .navbar-nav{		
		>li{
			margin-left: 0px;
			>a{
			color: $color_gray;
			text-transform: uppercase;
			letter-spacing: .2rem;
			font-size: 1.1rem;
			border-bottom: 1px solid transparent;
			padding: 20px 40px 20px 40px; 
				&:hover{
					color: #fff;
					background: $color_red;
					border-bottom: 1px solid none;
				}
			}
		}
	}
}




}



// RESPONSIVE TABLET

@include  screen-tablet--portait {

.navbar-fonteyne .navbar-nav .open .dropdown-menu{
	position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    li a{
    	padding-left: 50px;
    	padding-top: 20px;
    	padding-bottom: 20px;
    }
}


}





