

/*  *//*  *//*  */
/*    OVERLAY 	 */
/*  *//*  *//*  */



.overlay-wrap{
	display: block;
	position: absolute;
	top:20px;
	left:20px;
	background: #fff;
	width: calc(100% - 40px);
	min-height: 100vh;
	z-index:1000000;
	padding: 100px 40px 300px 40px;
	.row{
		max-width: 1400px;
		margin-left: auto;
		margin-right: auto;
	}
	h1{
		font-weight: 300;
		margin-bottom: 50px;
		font-size: 3.5rem;
	}
	h3{
		margin-bottom: 40px;
		font-weight: 300;
		font-size: 2.7rem;
	}
	.sep{
		margin-bottom: 50px;
	}
	ul{
		list-style: none;

		li{
			margin-bottom: 20px;
			font-size: 1.6rem;
		}
	}
	.close{
		position: absolute;
		top:30px;
		right:30px;
	}
	&-link{
		position:absolute;
		bottom:100px;
		right:40px;
		color: white !important;
		background: $color_gray !important;
		&:hover{
			background: $color_red !important;
			
		}
	}	
	
}

.overlay-front{
	min-height: 100vh;
}