body {
  font-family: Helvetica,Arial,sans-serif!important;
    letter-spacing: 2px!important;
}

.oe_website_sale,#wrap[itemscope] {
  margin-top: 100px;
}

td.oe_product {
  border-width : 0!important;

}

#products_grid_before li.active>a {
  background-color: transparent;
  font-weight: 900;
  font-size: 1.2em;
}


#oe_systray span {
  color : white!important;
}

#oe_systray>li>a.dropdown-toggle,#oe_systray span   {
  color : white!important;
}

#add_to_cart {
    text-decoration: none!important;
    border-radius: 0;
    color: white!important;
    background-color: rgba(0,0,0,0.8);
    border-width: 0;
}

div.navbar.navbar-default {
    padding-top: 1%;
    background-color: transparent!important;
    position: absolute;

    /*top: 0;*/
    width: 100%;
    border-width: 0px;
    /*text-decoration: none;*/
}

a {
    color : black!important;
    text-decoration: underline!important;
}

.text-error {
  color: red;
  font-size: 1.3em;
  font-weight: 700;
}

#oe_main_menu_navbar>a {
    color : white!important;
}

.modal-content a.a-submit.btn-primary {
    color: white!important;
    background-color: rgba(0,0,0,0.8);
    border-width: 0;
    text-decoration: initial!important;
    border-radius : 0!important;
}

div.navbar.navbar-default li.active span{
    font-weight: bolder!important;
    background-color: transparent!important;
    text-decoration: none!important;
}

div.navbar.navbar-default li.active a{
    font-weight: bolder!important;
    background-color: transparent!important;
    text-decoration: none!important;
}

div.navbar.navbar-default li a{
    text-decoration: none!important;
    letter-spacing: 4px;
    font-size: larger;
    font-weight: 100;
}

.navbar-brand.logo {
    display: none;
}

footer {
    display: none!important;
}
